bcrypt==4.3.0
blinker==1.4
debtcollector==3.0.0
decorator==5.2.1
geopandas==0.13.2
google-pasta==0.2.0
joblib==1.5.1
keras==3.10.0
matplotlib==3.7.1
numpy==1.26.4
ovs==2.17.9
packaging==20.9
paho-mqtt==2.1.0
pandas==2.2.2
reportlab==3.6.8
requests==2.25.1
rich==14.0.0
Routes==2.5.1
scapy==2.6.1
scikit-learn==1.2.2
scipy==1.10.1
shapely==2.0.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-probability==0.24.0
termcolor==3.1.0
tf_keras==2.17.0
threadpoolctl==3.6.0

mininet~=2.3.0.dev6
haversine~=2.9.0